 




#sidebar{

 

    width: 200px;

    background-color: green;

}

/* #display{

    display:flex;

    flex-direction:column;

    padding: 100px;

} */

 

.card{

    background-color: white;

}
